body{
	font-family: 'Merriweather', serif;
	line-height: 1em;
}

/* Overriding Some of the Boostrap button styles */
.btn{
	background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,100%,0));
}

.btn-success{
	background: transparent;
	border:2px solid #fff;
}

.btn-success:hover{
	color:#FFF;
	background: #26B353;
	border:2px solid #FFF;
	text-decoration: none;
}

/* Global Footer */
.row.footer{
	color:#FFF;
	background: #26B353;
	padding:40px, 0;
	overflow: hidden;
}

p.copyright{
	display: block;
	font-weight: 900;
	padding: 20px 0 10px 0;
}


/* Basic Styles for Icon & Text Panels */
.icon-wrap{
	padding: 20px;
}

.label{
	color:#667;
	letter-spacing: 0.2em;
	background:transparent;
}

h3.panel-heading{
	font-weight: 900;
}

p.panel-body{
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.4;
	padding:0 0 20px 0;
}

.row{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Hompage Styles */
.homepage{}

	.homepage .hero{
	  	background: url(img/harbor.jpg) no-repeat center center; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	overflow: hidden;
	  	padding:0 0 80px 0;
	}

	.homepage img.logo{
		max-height:500px;
	}

	.homepage a.cta{
		display: block;
		width: 300px;
	}

	.homepage .hero{
		max-height: 1024px;
	}

	.homepage .history{
		clear:both;
		background: #fff;
	}

	.homepage .facebook{
		color:#FFF;
		padding: 20px 0;
		background: #2D314E;
	}

	.homepage .fb-like-wrapper{
		width:55px;
		margin:40px auto;
	}


.enter{}

	.enter img.logo{
		max-height:500px;
	}